.About {
  width: 900px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.About p {
  margin-top: 0;
}

@media screen and (max-width: 900px) {
  .About {
    width: 100%;
    padding: 10px;
  }
}
