.About {
  width: 900px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 25px;
  margin: 0 auto;
}

.About p {
  margin-top: 0;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .About {
    width: 100%;
  }
}
