.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  height: 60px;
  background-color: #1d1c1bea;
  color: rgb(197, 197, 197);
  position: sticky;
  top: 0;
  z-index: 10;
}
.header-brand {
  text-decoration: none;
  color: rgb(252, 252, 252);
  font-size: 30px;
  width: 150px;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-burger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: none;
}

.header-burger:after {
  content: '';
  width: 30px;
  background-color: white;
  position: absolute;
  height: 4px;
  bottom: 0;
  transition: all 0.2s;
}

.header-burger:before {
  content: '';
  width: 30px;
  background-color: white;
  position: absolute;
  height: 4px;
  top: 0;
  transition: all 0.2s;
}

.header-burger span {
  position: absolute;
  width: 30px;
  background-color: white;
  height: 4px;
  top: 13px;
}

.closedBurgerIcon span {
  display: none;
}

.closedBurgerIcon::before {
  transform: rotate(45deg);
  top: 13px;
  width: 35px;
}
.closedBurgerIcon::after {
  transform: rotate(-45deg);
  top: 13px;
  width: 35px;
}

.header-cartIcon {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.header-wrapper {
  display: flex;
}

.header-nav-link {
  color: rgb(211, 211, 211);
  text-decoration: none;
  padding: 0 15px;
  transition: 0.2s;
  height: 30px;
  font-size: 1.4rem;
}

.header-nav-link:hover {
  color: rgb(255, 255, 255);
  text-shadow: -1px 0px 9px rgba(255, 255, 255, 1);
}

.active {
  text-shadow: -1px 0px 9px rgba(255, 255, 255, 1);
}

@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }

  .header-burger {
    display: block;
  }
}
