.Footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 40px;
	min-height: 60px;
	background-color: #1a3f70;
	color: rgb(255, 255, 255);
	font-size: 16px;
	box-shadow: -1px 11px 14px -6px rgba(1, 17, 29, 0.55) inset;
}

.Footer-link {
	color: rgb(206, 206, 206);
}
