.header-nav-link {
	color: rgb(211, 211, 211);
	text-decoration: none;
	padding: 0 15px;
	transition: 0.2s;
	height: 30px;
}

.header-nav-link:hover {
	color: rgb(255, 255, 255);
	text-shadow: -1px 0px 9px rgba(255, 255, 255, 1);
}

.active {
	color: red;
}
