.Modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.522);
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
}
.ModalWindow {
	width: 700px;
	min-height: 200px;
	background-color: rgb(252, 252, 252);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	border-radius: 3px;
}
.ModalWindow div {
	margin: 30px;
}

.Modal.ModalActive {
	display: flex;
}

.ModalWindow h3 {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (max-width: 768px) {
	.ModalWindow {
		width: 90%;
	}
}
